@section Styles{
    <style>
        #shippingmsgText {
            height: 100px;
            width: 200px;
            text-align: center;
            color: #4D0000;
            font-weight: bold;
        }

        #shippingmsgbox {
            background-color: #E0E0E0;
            z-index: 100;
            height: 70px;
            width: 150px;
            position: fixed;
            top: auto;
            left: 50%;
            margin-top: -35px;
            margin-left: -75px;
            align-items: center;
            display: flex;
            padding-top: 75px;
            border-radius: 15px;
            font-weight: bolder;
            font-size: 15px;
            box-shadow: 1.5px 1.5px 7px 1px #5b5b5b;
        }
    </style>
}
<form name="UserForgetPassword">
    <div class="card text-center">
        <div class="card-header h5 text-white bg-primary">密碼重設</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                輸入您的信箱帳號後,將會發送一則信件與密碼給您
            </p>
            <div class="form-outline">
                <label class="form-label" for="typeEmail">電子信箱</label>
                <input type="email" name="txtAccount" id="txtAccount" class="form-control my-3" />
            </div>
            <input type="button" value="確認" id="subbtn" class="btn btn-primary" />
        </div>
    </div>
</form>

@section Scripts{
    <script>
        let subbtn = document.querySelector("#subbtn");
        let txtAccount = document.querySelector("#txtAccount");
        let accVal = txtAccount.value;
        subbtn.addEventListener("click", getpassword)
        //let Userforgetpassword = new XMLHttpRequest();
        //Userforgetpassword.addEventListener("load", function () {
        //    alert(Userforgetpassword.responseText);
        //})
        //const Data = new FormData(document.UserForgetPassword);
        //xhr.open("POST", "@Url.Content("/Home/SendMailByGmail")");
        //xhr.send(Data);
        //async function AccountVerify{
        //    const response = await fetch("@Url.Content("/Home/ExistAccount")");
        //    const data = await response.text();
        //    if (User == "0") {
        //        alert("無此帳號,請重新登入");
        //    }
        //    else if (User == "1") {
        //        alert("密碼錯誤");
        //    }
        //    else {
        //        alert("已發送郵件");
        //    }
        //}
        async function getpassword() {
            const Data = new FormData(document.UserForgetPassword);
            const Existresponse = await fetch("@Url.Content("/Home/ExistAccount")", {
                method: "Post",
                body: Data,
            });
            console.log(Existresponse);
            const data = await Existresponse.text();
            console.log(data);
            if (data == "0") {
                $('.alert-autocloseable-warning').attr("hidden", false);
                $('.alert-autocloseable-warning').delay(2000).fadeOut("slow", function () {
                    $('.alert-autocloseable-warning').attr("hidden", true);
                    $('.alert-autocloseable-warning').removeAttr("style");
                });
                $('#shippingmsgText').text("無此使用者或輸入錯誤");
                $('.alert-autocloseable-warning').delay(2000)
                return;
            }
            else (data == "1")
            const SendEmailresponse = await fetch("@Url.Content("/Home/SendMailByGmail")", {
                method: "Post",
                body: Data,
            });
            const text = await SendEmailresponse.text();
            debugger
            $('.alert-autocloseable-warning').attr("hidden", false);
            $('.alert-autocloseable-warning').delay(2000).fadeOut("slow", function () {
                $('.alert-autocloseable-warning').attr("hidden", true);
                $('.alert-autocloseable-warning').removeAttr("style");
            });
            $('#shippingmsgText').text("已發送郵件");
            setTimeout('location.href="/Home/Index"', 2000);
            //window.location.href = "/Home/Index";
        }
    </script>
}
