<form  name="UserForgetPassword">
    <div class="card text-center">
        <div class="card-header h5 text-white bg-primary">密碼重設</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                輸入您的信箱帳號後,將會發送一則信件與密碼給您
            </p>
            <div class="form-outline">
                <label class="form-label" for="typeEmail">電子信箱</label>
                <input type="email" name="txtAccount" id="txtAccount"class="form-control my-3" />
            </div>
            <input type="submit" value="確認" id="subbtn" class="btn btn-primary" />
        </div>
    </div>
</form>
@section Scripts{
    <script>
        let subbtn = document.querySelector("#subbtn");
        subbtn.addEventListener("click", getpassword())
            //let Userforgetpassword = new XMLHttpRequest();
            //Userforgetpassword.addEventListener("load", function () {
            //    alert(Userforgetpassword.responseText);
            //})
            //const Data = new FormData(document.UserForgetPassword);
            //xhr.open("POST", "@Url.Content("/Home/SendMailByGmail")");
            //xhr.send(Data);
            debugger
        async function getpassword() {
            const response = await fetch("@Url.Content("/Home/SendMailByGmail")");
            const text = await response.text();
            alert(text);
        }

    </script>
}
