@{
    ViewData["Title"] = "Home Page";

}
<div class="text-center">
    <main>
        <div style="height:870px;"></div>
        <!--? slider Area Start-->
        <div style="position:absolute;left:0px;width:100%;top:110px;">
            <div class="  ">
                <div class="slider-area position-relative ">
                    <div class="slider-active">
                        <!-- Single Slider -->
                        <div class="single-slider slider-height d-flex align-items-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-7 col-lg-9 col-md-8 col-sm-9">
                                        <div class="hero__caption">
                                            <span style="font-size:-webkit-xxx-large">我們的宗旨</span>
                                            <h1 class="cd-headline letters scale" style="font-size:50px;">
                                                用心編制精障病友課程，開發可能的<b>居家學習</b>潛能活動
                                                透過人與人的溝通，現實感的訓練，積極參與社區生活
                                            </h1>
                                            <p data-animation="fadeInLeft" data-delay="0.1s" style="font-size:30px">
                                                病友、家屬，或甚至是醫療專業人員，
                                                希望與絕望交錯、關愛與疲憊堆疊，因此需要互相陪伴
                                            </p>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slider -->
                        <div class="single-slider slider-height d-flex align-items-center ">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-7 col-lg-9 col-md-8 col-sm-9">
                                        <div class="hero__caption">
                                            <span style="font-size:-webkit-xxx-large;">專業與服務態度</span>
                                            <h1 class="cd-headline letters scale" style="font-size:50px;">
                                                多元的服務團隊皆具備專業證照，
                                                務實的豐富教學為精障病友助益
                                            </h1>
                                            <p data-animation="fadeInLeft" data-delay="0.1s" style="font-size:30px;">
                                                除醫院醫療資源外，身為醫療團隊社工人員的我，
                                                期許能為精障朋友們再多做些什麼…
                                                於是乎鼓足了勇氣在2011年與先生一起踏上籌設康家的夢想之路
                                            </p>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--? About Start-->
        <div class="about-area section-padding2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-10">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2 mb-35">
                                <span>關於關心康復之家</span>
                                <h2>歡迎來到關心康復之家!</h2>
                            </div>
                            <p>
                                讓精障病友接受不同的感受與學習空間，
                                康新注入「多元的專業團隊」，
                                用心編制精障病友課程，開發可能的「居家學習」潛能活動，
                                透過人與人的溝通，現實感的訓練，積極參與社區生活，
                                讓精障病友學習自我管理，
                                將發現~自己多了些熟悉的態度與體認
                            </p>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <!-- about-img -->
                        <div class="about-img ">
                            <div class="about-font-img d-none d-lg-block">
                                <img src="~/img/gallery/about2.png" alt="">
                            </div>
                            <div class="about-back-img ">
                                <img src="~/img/gallery/about1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About  End-->
        <!--? department_area_start  -->
        <div class="department_area section-padding2">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center mb-100">
                            <span>醫療人員</span>
                            <h2>我們的活動項目</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="depart_ment_tab mb-30">
                            <!-- Tabs Buttons -->
                            <ul class="nav" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">
                                        <i class="fa-solid fa-person-running"></i>
                                        <h4>體能活動</h4>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                                        <i class="fa-solid fa-cookie-bite"></i>
                                        <h4>烹飪活動</h4>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                                        <i class="fa-solid fa-comments"></i>
                                        <h4>社區適應活動</h4>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="Astrology-tab" data-toggle="tab" href="#Astrology" role="tab" aria-controls="contact" aria-selected="false">
                                        <i class="fa-solid fa-broom"></i>
                                        <h4>清潔活動</h4>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="Neuroanatomy-tab" data-toggle="tab" href="#Neuroanatomy" role="tab" aria-controls="contact" aria-selected="false">
                                        <i class="fa-solid fa-ruler-combined"></i>
                                        <h4>個人儀容活動</h4>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="Blood-tab" data-toggle="tab" href="#Blood" role="tab" aria-controls="contact" aria-selected="false">
                                        <i class="fa-sharp fa-solid fa-book"></i>
                                        <h4>藥物衛教活動</h4>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="dept_main_info white-bg">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <!-- single_content  -->
                            <div class="row align-items-center no-gutters">
                                <div class="col-lg-7">
                                    <div class="dept_info">
                                        <h3>體能訓練 <br>讓住民保持身心靈健康</h3>
                                        <p>運動是不可或缺的，不僅可以幫助我們保持身體的健康，減輕心中的壓力，更可以讓我們保持頭腦的靈活，運動是每一個人都應該具備的休閒活動，無論是跑步、羽球、健美、游泳、網球、籃球等…，都是非常健康且有益身心的 </p>

                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="dept_thumb">
                                        <img src="~/img/gallery/run.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- single_content  -->
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <!-- single_content  -->
                            <div class="row align-items-center no-gutters">
                                <div class="col-lg-7">
                                    <div class="dept_info">
                                        <h3>烹飪教室 <br>完善的烹飪廚房</h3>
                                        <p>完整系列課，學烘焙一點都不難~實際體驗手做麵包、蛋糕、餅乾、點心….等，基礎麵包、蛋糕裝飾、名店甜品、伴手禮….除了幫住民備料之外，實作時也會巡桌清理各桌整潔，讓住民專注在學做菜上。 </p>

                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="dept_thumb">
                                        <img src="~/img/gallery/cook.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- single_content  -->
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <!-- single_content  -->
                            <div class="row align-items-center no-gutters">
                                <div class="col-lg-7">
                                    <div class="dept_info">
                                        <h3>團體活動 <br>與他人互動造就良性關係</h3>
                                        <p>善於社交的人總能在短短的時間內，就與他人發展良好的雙贏關係。</p>

                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="dept_thumb">
                                        <img src="~/img/gallery/care.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- single_content  -->
                        </div>
                        <div class="tab-pane fade" id="Astrology" role="tabpanel" aria-labelledby="Astrology-tab">
                            <!-- single_content  -->
                            <div class="row align-items-center no-gutters">
                                <div class="col-lg-7">
                                    <div class="dept_info">
                                        <h3>定期清潔 <br>定時的環境清潔</h3>
                                        <p>有些人比其他人更喜歡生活在雜亂的環境中。“事實上，有些人可能喜歡雜亂——被熟悉的事物包圍會很舒服，”他補充道，“但至少讓事物保持有序和乾淨是有好處的——尤其是對心理健康有好處。 </p>

                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="dept_thumb">
                                        <img src="~/img/gallery/clean.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- single_content  -->
                        </div>
                        <div class="tab-pane fade" id="Neuroanatomy" role="tabpanel" aria-labelledby="Neuroanatomy-tab">
                            <!-- single_content  -->
                            <div class="row align-items-center no-gutters">
                                <div class="col-lg-7">
                                    <div class="dept_info">
                                        <h3>服儀訓練 <br> 個人儀容打扮</h3>
                                        <p>服裝儀容是一個人氣質與性情的表徵。打理好自己，服儀打扮是一種表達禮貌的行為規範，至少打理得適合</p>

                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="dept_thumb">
                                        <img src="~/img/gallery/hair.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- single_content  -->
                        </div>
                        <div class="tab-pane fade" id="Blood" role="tabpanel" aria-labelledby="Blood-tab">
                            <!-- single_content  -->
                            <div class="row align-items-center no-gutters">
                                <div class="col-lg-7">
                                    <div class="dept_info">
                                        <h3>衛生安全教育<br> </h3>
                                        <p>
                                            衛教室著重於疾病的保健及治療原則，希望能幫助病患在面對疾病的過程中，獲得正確知識及延緩疾病進展。 集結各科依病患個別性提供照護及成效追蹤機制
                                        </p>

                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="dept_thumb">
                                        <img src="~/img/gallery/med.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- single_content  -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- depertment area end  -->
        <!--? Team Start -->
        <div class="team-area section-padding30">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-tittle text-center mb-100">
                            <span>我們的</span>
                            <h2>關心康復夥伴</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- single Tem -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="~/img/gallery/IMG_3934.JPG" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">Gimmy WU</a></h3>
                                <span>關心康復之家醫事人員</span>
                                <!-- Team social -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="~/img/gallery/IMG_3925.JPG" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">Eric JIANG</a></h3>
                                <span>關心康復之家理事長</span>
                                <!-- Team social -->

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="~/img/gallery/IMG_3928.JPG" alt="">
                            </div>
                            <div class="team-caption">
                                <h3><a href="#">Yimimg LIN</a></h3>
                                <span>關心康復之家主任</span>
                                <!-- Team social -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->
        <!--? Blog start -->
        <div class="home_blog-area section-padding30">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="cl-xl-7 col-lg-8 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-70">
                            <span>每月新聞</span>
                            <h2>部落格與分享</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-blogs mb-30">
                            <div class="blog-img">
                                <img src="~/img/gallery/100.jpg" alt="">
                            </div>
                            <div class="blogs-cap">
                                <div class="date-info">
                                    <span>Health</span>
                                    <p>Nov 30, 2022</p>
                                </div>
                                <h4>助思覺失調病友回歸社區</h4>
                                <a href="https://localhost:7164/Forum/PostDetail/24" class="read-more1">閱讀更多</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-blogs mb-30">
                            <div class="blog-img">
                                <img src="~/img/gallery/01_19032612143228176.jpg" alt="" height="306px;">
                            </div>
                            <div class="blogs-cap">
                                <div class="date-info">
                                    <span>Checkup</span>
                                    <p>Dec 29, 2022</p>
                                </div>
                                <h4>他們只是生病，不是犯人！「康復之家」規訓管制中的精障幽谷</h4>
                                <a href="https://localhost:7164/Forum/PostDetail/18" class="read-more1">閱讀更多</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-blogs mb-30">
                            <div class="blog-img">
                                <img src="~/img/gallery/200.jfif" alt="" height="306px;>
                            </div>
                            <div class="blogs-cap">
                                <div class="date-info">
                                    <span>Operation</span>
                                    <p>Jan 10, 2023</p>
                                </div>
                                <h4>【實地走訪康復之家】其實他們也想好起來　都在為生存而努力阿</h4>
                                <a href="https://localhost:7164/Forum/PostDetail/17" class="read-more1">閱讀更多</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->
    </main>
</div>
