@model prjRehabilitation.ViewModel.CLoginViewModel

<div class="container  h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 ">
            <div class="card text-white" style="border-radius: 1rem;background-color: darkseagreen;">
                <div class="card-body p-5 text-center">
                    <div class="mb-md-5 mt-md-4 pb-5">


                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="typeEmailX">電子信箱</label>
                            <input asp-for="txtAccount" type=" email" id="txtAccount" class="form-control form-control-lg" />
                        </div>

                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="typePasswordX">密碼</label>
                            <input asp-for="txtPassword" type="password" id="txtPassword" class="form-control form-control-lg" />
                        </div>

                        <div class="row">
                            <p class="small pb-lg-2" style="width: 50%;"><a asp-area="" asp-controller="Home" asp-action="ForgetPassword">忘記密碼</a></p>
                            <p class="small pb-lg-2" style="width: 50%;"><a asp-area="" asp-controller="Home" asp-action="Register">前往註冊</a></p>
                            <div>
                                <div id="g_id_onload"
                                     data-client_id="971443584128-obp4q2juvolvir0fn3u8sfhk8h6e2h4i.apps.googleusercontent.com"
                                     data-login_uri="https://localhost:7164/Home/ValidGoogleLogin"
                                     data-auto_prompt="false">
                                </div>
                                <div class="g_id_signin"
                                     data-type="standard"
                                     data-size="large"
                                     data-theme="outline"
                                     data-text="sign_in_with"
                                     data-shape="rectangular"
                                     data-logo_alignment="left">
                                </div>
                            </div>
                        </div>
                        <script src="https://accounts.google.com/gsi/client" async defer></script>

                        <div class="mt-4 pt-2">
                            <input class="btn btn-primary btn-lg" type="button" value="Demo" id="Demobtn" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#Demobtn").on("click", function () {
        $("#txtAccount").attr("value", "girl5380@hotmail.com")
        $("#txtPassword").attr("value", "l3nita8a")
    })
</script>