@model prjRehabilitation.ViewModel.CCustomerViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<h1>Register</h1>
<h4>註冊帳號</h4>
<hr />
<form enctype="multipart/form-data" asp-action="Register" name="userRegister">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="form-outline">
                <label class="form-label" for="lastName">姓名</label>
                <input asp-for="FName" type="text" id="lastName" class="form-control form-control-lg" />
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4 d-flex align-items-center">

            <div class="form-outline datepicker w-100">
                <label asp-for="FEmail" class="control-label">電子信箱</label>
                <input type="email"  asp-for="FEmail" class="form-control" />
                <span asp-validation-for="FEmail" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-6 mb-4">

            <div class="form-outline datepicker w-100">
                <label asp-for="FPhone" class="control-label">行動電話</label>
                <input type="number"  asp-for="FPhone" class="form-control" />
                <span asp-validation-for="FPhone" class="text-danger"></span>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-md-6 mb-4 pb-2">
            <div class="form-outline">
                <label class="form-label" for="emailAddress">密碼</label>
                <input asp-for="FPassword" type="password" id="emailAddress" class="form-control form-control-lg" />
            </div>
        </div>
        <div class="col-md-6 mb-4 pb-2">
            <div class="form-outline">
                <label class="form-label" for="phoneNumber">居住地址</label>
                <input asp-for="FAddress"id="phoneNumber" class="form-control form-control-lg" />
            </div>
        </div>
    </div>
    <div>
        <label asp-for="photo" class="control-label">照片</label>
        <input type="file" asp-for="photo" class="form-control" />
    </div>

    <div class="mt-4 pt-2">
        <input class="btn btn-primary btn-lg" type="submit" value="確認" id="subbtn" />
    </div>
</form>


<div>
    <a asp-action="Login">返回登入</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        let subbtn = document.querySelector("#subbtn");
        subbtn.addEventListener("click", function (event) {
            event.preventDefault();
            let xhr = new XMLHttpRequest();
            xhr.addEventListener("load", function () {
                alert(xhr.responseText);
                window.location.href = "/Home/Index";
            })
            const Data = new FormData(document.userRegister);
            xhr.open("POST", "@Url.Content("/UserLogin/AccountAlive")");
            xhr.send(Data);

        })
    </script>

    }

