@model prjRehabilitation.ViewModel.CCustomerViewModel

<h4>重設密碼</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form name="ResetPassword">
            <div class="form-group">
                <input asp-for="FEmail" class="form-control" type="hidden"/>
                <span asp-validation-for="FEmail" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="FPassword" class="control-label"></label>
                <input asp-for="FPassword" class="form-control txtPassword" value="" type="password"/>
                <span asp-validation-for="FPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">確認密碼</label>
                <input class="form-control txtPasswordCheck" value="" type="password"  />
            </div>
            <div class="form-group">
                <input type="button" value="送出" class="btn btn-primary btnOK" />
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script>
        const txtPasswordCheck = document.querySelector(".txtPasswordCheck");
        const txtPassword = document.querySelector(".txtPassword");
        async function Reset() {
            const data = new FormData(ResetPassword);
            const response = await fetch("@Url.Content("/Home/ResetPassword")", {
                method: "post",
                body: data,
            });
            const responseText = await response.text();
            console.log(responseText);
            if (responseText == "已更改成功!") {
                $('.alert-autocloseable-warning').attr("hidden", false);
                $('.alert-autocloseable-warning').delay(30000).fadeOut("slow", function () {
                    $('.alert-autocloseable-warning').attr("hidden", true);
                    $('.alert-autocloseable-warning').removeAttr("style");
                });
                $('#shippingmsgText').text(responseText);
                setTimeout('location.href="/Home/Index"', 2000);
            }
            if (responseText == "帳號輸入錯誤,請重新輸入") {
                $('.alert-autocloseable-warning').attr("hidden", false);
                $('.alert-autocloseable-warning').delay(3000).fadeOut("slow", function () {
                    $('.alert-autocloseable-warning').attr("hidden", true);
                    $('.alert-autocloseable-warning').removeAttr("style");
                });
                $('#shippingmsgText').text(responseText);
                return;
            }
        }
        $(".btnOK").on("click",function(){
            console.log(txtPassword.value);
            console.log(txtPasswordCheck.value);
            if(txtPassword.value==txtPasswordCheck.value){
                Reset();
            }
            else{
                $('.alert-autocloseable-warning').attr("hidden", false);
                $('.alert-autocloseable-warning').delay(3000).fadeOut("slow", function () {
                    $('.alert-autocloseable-warning').attr("hidden", true);
                    $('.alert-autocloseable-warning').removeAttr("style");
                });
                $('#shippingmsgText').text("密碼不一致");
                return;
            }
            
        })
    </script>
}

