################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/New folder/v17
/.vs/ProjectEvaluation
/.vs/slnRehabilitation/FileContentIndex
.vs/slnRehabilitation/DesignTimeBuild/.dtbcache.v2
.vs/slnRehabilitation/v17/.futdcache.v2
.vs/slnRehabilitation/v17/.suo
