################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/New folder/v17
/.vs/ProjectEvaluation
/.vs/slnRehabilitation/FileContentIndex
.vs/slnRehabilitation/DesignTimeBuild/.dtbcache.v2
.vs/slnRehabilitation/v17/.futdcache.v2
.vs/slnRehabilitation/v17/.suo
/.vs/RehabilitationHome/v17/.wsuo
/prjRehabilitation/obj/Debug/net6.0/apphost.exe
/prjRehabilitation/obj/Debug/net6.0/prjRehabilitation.csproj.AssemblyReference.cache
/prjRehabilitation/obj/Debug/net6.0/prjRehabilitation.GeneratedMSBuildEditorConfig.editorconfig
/prjRehabilitation/obj/Debug/net6.0/project.razor.vs.json
/prjRehabilitation/obj/prjRehabilitation.csproj.nuget.dgspec.json
/prjRehabilitation/obj/prjRehabilitation.csproj.nuget.g.props
/prjRehabilitation/obj/project.assets.json
/prjRehabilitation/obj/project.nuget.cache
