@model prjRehabilitation.ViewModel.CAdminViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "AdminLayout";
}
@section Styles{
    <style>
        h6, .form-control {
            font-size: inherit;
        }
    </style>
}

<h1>編輯員工資料</h1>
<hr />
<form asp-action="Edit" enctype="multipart/form-data" name="AdminUserEdit">
    <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Fid" class="form-control" type="hidden" />
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        @{
                            if (Model.Fphoto != null)
                            {
                                <img class="rounded-circle border border-primary Aimg" src="~/images/@Model.Fphoto" alt="Admin" width="300" height="300" />
                            }
                            else
                            {
                                <img class="rounded-circle border border-primary Aimg" src="~/images/imageDefault.png" width="300" height="300" />
                            }
                        }
                    </div>
                    <div>
                        <input type="file" asp-for="photo" class="form-control" id="file" />

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="text-center">您的Qrcode</div>
                    <div class="d-flex flex-column align-items-center text-center">
                        @{
                            if (Model.Fphoto != null)
                            {
                                <img class=" border border-primary img" src="~/images/@Model.FQrcode" alt="無QRcode" width="150" height="150" />
                            }
                            else
                            {
                                <img class=" border border-primary img" src="~/images/imageDefault.png" width="150" height="150" />
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body ">
                    <div>
                        <span>出勤查詢：</span>
                        <select id="yyyy"></select>
                        <span>年</span>
                        <select id="mm">
                            <option value="01" class="mm">1</option>
                            <option value="02" class="mm">2</option>
                            <option value="03" class="mm">3</option>
                            <option value="04" class="mm">4</option>
                            <option value="05" class="mm">5</option>
                            <option value="06" class="mm">6</option>
                            <option value="07" class="mm">7</option>
                            <option value="08" class="mm">8</option>
                            <option value="09" class="mm">9</option>
                            <option value="10" class="mm">10</option>
                            <option value="11" class="mm">11</option>
                            <option value="12" class="mm">12</option>
                        </select>
                        <span>月</span>

                    </div>
                    <div class="gutters-sm">
                        <div class="">
                            <span>遲到：</span>
                            <span id="lateduty">0</span>
                            <span>天</span>
                        </div>
                        <div class="">
                            <span>早退：</span>
                            <span id="earlyduty">0</span>
                            <span>天</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <span>加班時數：</span>
                                <span id="overh">0</span>
                                <span>小時</span>
                                <span id="overm">0</span>
                                <span>分鐘</span>
                            </div>
                            <div>
                                <button type="button" id="btnduty" class="btn btn-sm btn-primary rounded-2" style="width:auto">查詢</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                <label asp-for="FName" class="control-label"></label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input asp-for="FName" class="form-control" />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <label asp-for="FPassword" class="control-label"></label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input asp-for="FPassword" class="form-control" />
                            </div>
                        </div>
                        <hr>
                        <div class="col-md-6 mb-4 pb-2">
                            <div class="form-outline">
                                <label class="form-label" for="emailAddress">信箱</label>
                                <input asp-for="FEmail" type="email" id="emailAddress" class="form-control form-control-lg" />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <label asp-for="FRank" class="control-label">職級</label>
                                <select asp-for="FRank" class="form-select" aria-label="Default select example">
                                    <option value="主任">主任</option>
                                    <option value="醫事人員">醫事人員</option>
                                    <option value="專任管理員">專任管理員</option>
                                </select>

                            </div>
                        </div>
                        <hr>
                        <div class="col-md-6 mb-4">

                            <h6 class="mb-2 pb-1">性別: </h6>

                            <div class="form-check form-check-inline">
                                <input asp-for="FSex" class="form-check-input" asp-for="FBirth" type="radio" id="femaleGender"
                                       value="女" checked />
                                <label class="form-check-label" for="femaleGender">女</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input asp-for="FSex" class="form-check-input" asp-for="FBirth" type="radio" id="maleGender"
                                       value="男" />
                                <label class="form-check-label" for="maleGender">男</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input asp-for="FSex" class="form-check-input" asp-for="FBirth" type="radio" id="otherGender"
                                       value="其他" />
                                <label class="form-check-label" for="otherGender">其他</label>
                            </div>

                        </div>
                        <hr>
                        <div class="row">
                            <div cla ss="col-sm-3">
                                <label asp-for="FBirth" class="control-label"></label>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="date" max="@DateTime.Today" asp-for="FBirth" class="form-control" />
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts{
    <script>
        GetLoginUser();
        $('#file').on('change', function (e) {
            const file = this.files[0];
            const objURL = URL.createObjectURL(file);
            console.log(this);
            $('.Aimg').attr('src', objURL);
        });
        async function Edit() {
            const data = new FormData(AdminUserEdit);
            const response = await fetch("@Url.Content("/AdminUserLogin/Edit")", {
                method: "post",
                body: data,
            });
        }
        async function GetLoginUser() {
            const response = await fetch("@Url.Content("/AdminUserLogin/GetUserSession")");
            const User = await response.json();

            if (User.fRank != "主任") {
                $(".form-select").attr("disabled", "disabled");
            }

        }
        //-------------出勤----------------------
        var selectElement = document.getElementById("yyyy");
        var mmElement = document.getElementById("mm");

        var currentYear = new Date().getFullYear();

        for (var year = 2010; year <= currentYear; year++) {
            var optionElement = document.createElement("option");
            optionElement.value = year;
            optionElement.text = year;
            optionElement.classList.add("year");
            selectElement.appendChild(optionElement);
        };
        var selectedIndex = currentYear - 2010; // 計算今年所在的索引
        selectElement.selectedIndex = selectedIndex;

        $("#btnduty").on("click", getduty);

        function getduty() {
            var data = selectElement.value + "-" + mmElement.value + "," + @Model.Fid;//1-4為年，5-6為月，7之後為員工id
            $.ajax({
                type: "POST",
                url: '/Webcam/dutydays',
                data: { DutyData: data },
                success: function (result) {
                    if (result != null) {
                        $('#lateduty').text(`${result.lateduty}`);
                        $('#earlyduty').text(`${result.earlyduty}`);
                        $('#overh').text(`${result.overhimeH}`);
                        $('#overm').text(`${result.overhimeM}`);
                    };
                }
            });
        }
        //-------------出勤----------------------


                                //$(".btn").on("click",Edit);
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
