@{
    ViewData["Title"] = "Index";
    Layout = "AdminLayout";
}

<form asp-action="ForgetPassword" name="UserForgetPassword">
    
        <label class="form-label" for="txtAccount">信箱帳號:</label>
        <input type="email" name="txtAccount" id="txtAccount" class="form-control form-control-lg" />
        <input type="submit" value="確認" id="subbtn" class="btn btn-primary" />
    
</form>
@section Scripts{
    <script>
        let subbtn = document.querySelector("#subbtn");

        subbtn.addEventListener("click", function (event) {
            event.preventDefault();
            let xhr = new XMLHttpRequest();
            xhr.addEventListener("load", function () {
                alert(xhr.responseText);
            })
            const Data = new FormData(document.UserForgetPassword);
            xhr.open("POST", "@Url.Content("/AdminUserLogin/SendMailByGmail")");
            xhr.send(Data);

        })
    </script>
}