@{
    ViewData["Title"] = "Index";
    Layout = "AdminLayout";
}
<style>
    .text-white {
        border: none;
        padding: 18px 18px 18px 19px;
        text-transform: capitalize;
        border-radius: 6px;
        cursor: pointer;
        color: #fff;
        display: inline-block;
        font-size: 16px;
        background-size: 200%;
        transition: 0.6s;
        box-shadow: 0px 7px 21px 0px rgb(0 0 0 / 12%);
    }

    #shippingmsgText {
        height: 100px;
        width: 200px;
        text-align: center;
        color: #4D0000;
        font-weight: bold;
    }

    #shippingmsgbox {
        background-color: #E0E0E0;
        z-index: 100;
        height: 70px;
        width: 200px;
        position: fixed;
        top: auto;
        left: 50%;
        margin-top: -35px;
        margin-left: -75px;
        align-items: center;
        display: flex;
        padding-top: 75px;
        border-radius: 15px;
        font-weight: bolder;
        font-size: 15px;
        box-shadow: 1.5px 1.5px 7px 1px #5b5b5b;
    }
</style>

<div class="alert-autocloseable-warning" id="shippingmsgbox" hidden>
    <div class="alert-autocloseable-warning" id="shippingmsgText">
    </div>
</div>
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                     class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form name="userLogin">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="txtAccount" class="form-control form-control-lg" placeholder="Enter email" name="txtAccount" />
                        <label class="form-label" for="txtAccount">Email電子信箱</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="txtPassword" class="form-control form-control-lg" name="txtPassword" />
                        <label class="form-label" for="txtPassword">密碼</label>
                    </div>

                    <div class="d-flex justify-content-around align-items-center mb-4">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                            <label class="form-check-label" for="form1Example3"> Remember me </label>
                        </div>
                        <a asp-controller="AdminUserLogin" asp-action="ForgetPassword">忘記密碼?</a>
                    </div>

                    <!-- Submit button -->
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="logbtn">登入</button>
                    <div class="mt-4 pt-2">
                        <input class="btn btn-primary btn-lg" type="button" value="Demo主任" id="Demobtn" />
                    </div>
                    <div class="mt-4 pt-2">
                        <input class="btn btn-primary btn-lg" type="button" value="Demo員工" id="Demobtn2" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        let logbtn = document.querySelector("#logbtn");
        let Account = document.querySelector("#txtAccount");
        console.log(Account);
        let Password = document.querySelector("#txtPassword");
        const div1 = document.getElementById('div1');
        const span = document.createElement('span');
        span.innerText = '請不要空白';
        span.style.color = 'red';
        span.style.display = 'none';
        txtAccount.addEventListener('blur', () => {
            if (txtAccount.value === '') {
                // 如果文字方塊內容為空，顯示提示信息
                span.style.display = 'inline';
                div1.appendChild(span);
            } else {
                // 否則隱藏提示信息
                span.style.display = 'none';
            }
        });
        $("#Demobtn").on("click", function () {
            $("#txtAccount").attr("value", "careyou@hotmail.com")
            $("#txtPassword").attr("value", "11111111")
        })
          $("#Demobtn2").on("click", function () {
            $("#txtAccount").attr("value", "a0983760928@gmail.com")
            $("#txtPassword").attr("value", "l3nita8a")
        })
        logbtn.addEventListener("click", function (event) {

            //event.preventDefault();
            let xhr = new XMLHttpRequest();

            xhr.addEventListener("load", function () {
                //$('.alert-autocloseable-warning').attr("hidden", false);
                //$('.alert-autocloseable-warning').delay(200000).fadeOut("slow", function () {
                //    $('.alert-autocloseable-warning').attr("hidden", true);
                //    $('.alert-autocloseable-warning').removeAttr("style");
                //});
                if (xhr.responseText == "無此帳號,請重新登入") {
                    $('.alert-autocloseable-warning').attr("hidden", false);
                    $('.alert-autocloseable-warning').delay(3000).fadeOut("slow", function () {
                        $('.alert-autocloseable-warning').attr("hidden", true);
                        $('.alert-autocloseable-warning').removeAttr("style");
                    });
                    $('#shippingmsgText').text(xhr.responseText);
                }
                else if (xhr.responseText == "密碼錯誤") {
                    $('.alert-autocloseable-warning').attr("hidden", false);
                    $('.alert-autocloseable-warning').delay(2000).fadeOut("slow", function () {
                        $('.alert-autocloseable-warning').attr("hidden", true);
                        $('.alert-autocloseable-warning').removeAttr("style");
                    });
                    $('#shippingmsgText').text(xhr.responseText);
                }
                else {
                    $('.alert-autocloseable-warning').attr("hidden", false);
                    $('.alert-autocloseable-warning').delay(2000).fadeOut("slow", function () {
                        $('.alert-autocloseable-warning').attr("hidden", true);
                        $('.alert-autocloseable-warning').removeAttr("style");
                    });
                    $('#shippingmsgText').text(xhr.responseText);
                    setTimeout('location.href="/AdminUserLogin/List"', 2000);
                }

            })
            const Data = new FormData(document.userLogin);
            xhr.open("POST", "@Url.Content("/AdminUserLogin/ExistAccount")");
            xhr.send(Data);

        })

    </script>
}
