@model prjRehabilitation.ViewModel.Eric.CCalendarViewModel

@{
	ViewData["Title"] = "Create";
	Layout = "AdminLayout";
}

@section Styles{
	<style>

		.hiddenAdvanced {
			display: none;
		}
	</style>
}

<h1>新增行事曆</h1>

<h4 id="newCalendarDemo">新增</h4>
<hr />
<div class="row">
	<div class="col-md-7">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="date" class="control-label"></label>
				<input asp-for="date" type="date" class="form-control" id="calendarDate"/>
				<span asp-validation-for="date" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="eventName" class="control-label"></label>
				<input asp-for="eventName" class="form-control" id="eventNameID"/>
				<span asp-validation-for="eventName" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="title" class="control-label"></label>
				<input asp-for="title" class="form-control" id="titleID" />
				<span asp-validation-for="title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="content" class="control-label"></label>
				<textarea asp-for="content" class="form-control" style="height:250px" id="contentID"></textarea>
				<span asp-validation-for="content" class="text-danger"></span>
			</div>
			<div class="row">
				<div class="col">
					<label asp-for="fRecorder" class="control-label"></label>
					<input asp-for="fRecorder" class="form-control" readonly/>
					<span asp-validation-for="content" class="text-danger"></span>
				</div>
				<div class="col">
					<label asp-for="fRecorderDate" class="control-label"></label>
					<input asp-for="fRecorderDate" class="form-control" readonly/>
					<span asp-validation-for="content" class="text-danger"></span>
				</div>
				<div class="col">
                    <label asp-for="FVisualHierarchy" class="control-label"></label>(0為全可視)
					<select asp-for="FVisualHierarchy" class="form-control">
						<option >0(公開)</option>
						@for (int FVisualHierarchyI = 1; FVisualHierarchyI < 15; FVisualHierarchyI++)
						{
							<option selected>@FVisualHierarchyI</option>
						}

					</select>
					<span asp-validation-for="content" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group">
				<input type="submit" value="新增" class="mt-2 btn btn-primary" />
			</div>
		</form>
	</div>
</div>




<div>
	<a asp-action="List" class="btn btn-info small">返回</a>
</div>


<br />
<input type="button" id="buttonAdvanced" value="進階內容" />
<div class="row ">

	@*<label class="control-label" style="h4">進階內容</label>*@

	<div id="calendarAdvanced" class="col-6 hiddenAdvanced">
		<textarea class="form-control " style="height:250px"></textarea>

	</div>
</div>



@section Scripts{

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>
		document.querySelector("#buttonAdvanced").addEventListener("click", function () {

			document.querySelector("#calendarAdvanced").classList.toggle("hiddenAdvanced");

		});


		document.querySelector("#newCalendarDemo").addEventListener("click", function () {

			document.querySelector("#calendarDate").value = "2023-02-26";
			document.querySelector("#eventNameID").value = "家屬座談會";
			document.querySelector("#titleID").value = "家屬座談會";
			document.querySelector("#contentID").innerHTML = "可讓全體家屬一起會談，互相認識，順便看看住民";

		});
	</script>
}

