@model prjRehabilitation.ViewModel.Eric.CCalendarTotalNeedViewModel

@{
	ViewData["Title"] = "錯誤頁index";

	if (!string.IsNullOrEmpty(Model.getBackSession)) { Layout = "AdminLayout"; }
	else if (!string.IsNullOrEmpty(Model.getFrontSession)) { Layout = "_Layout";  }

}

@section Styles{
	<link href="@Url.Content("~/")css/calendar/calendar-gc.min.css" rel="stylesheet" />
	<style>
		html,
		body {
			margin: 0;
			overflow-x: hidden;
		}
	</style>
}

<h1>行事曆</h1>
<div class="row">

	<div class="col-2" style="display:none">
		<div style="height:100px"></div>
		<div id="PersonalListPanel" class=" mt-3 form-group form-control" style=" background-color:gray;"></div>
	</div>
	<div class="col">
		<div id="calendar" style="padding: 1rem;"></div>
		<a asp-action="Create" class="genric-btn primary e-large">新增</a>
	</div>
</div>


@*========================================================================bootstrap modal start*@

@*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#calendarModal" data-bs-whatever="33333333333">test </button>*@
<div id="CalendarEventsDetailShow"></div>
<div class="modal fade" id="calendarModal" tabindex="-1" aria-labelledby="calendarModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen-md-down">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="calendarModalLabel">New message</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="mb-3">
						<label for="recipient-name" class="col-form-label">主旨:</label>
						<input type="text" class="form-control" id="recipient-name" disabled="disabled">
					</div>
					<div class="mb-3">
						<label for="message-text" class="col-form-label">內容:</label>
						<textarea class="form-control" id="message-text" disabled="disabled" style="height:250px"></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
		@*		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Send message</button>*@
			</div>
		</div>
	</div>
</div>

@*========================================================================bootstrap modal end*@







@section Scripts{
	<script src="@Url.Content("~/")js/calendar/calendar-gc.min.js"></script>
	<script>
		$(function (e) {
			var calendar = $("#calendar").calendarGC({
				dayBegin: 0,
				prevIcon: '&#x3c;',
				nextIcon: '&#x3e;',
				onPrevMonth: function (e) {
					console.log("prev");
					console.log(e);
				},
				onNextMonth: function (e) {
					console.log("next");
					console.log(e);
				},
				events: startAllShowList(),
				onclickDate: function (e, data) {
					console.log(e, data);
				}
			});
		});

		function startAllShowList() {

			var events = [];



			const getFrontAndNextTargetRange = @Html.Raw(Json.Serialize(Model.GetTodayNextAndFrontOneMonth));	//加行事曆

			for (var RangeItem of getFrontAndNextTargetRange){
				
				events.push({
					date: new Date(RangeItem.fDate),
					eventName: RangeItem.fEventName,
					className: RangeItem.fClassName,
				
					dateColor: RangeItem.fDateColor,
					fTitle: RangeItem.fTitle,
					fContent: RangeItem.fContent,
					onclick(e, data) {
						console.log(data);
						getContentModal(data.fTitle, data.fContent);
					}
				});

			}


			const data = @Html.Raw(Json.Serialize(Model.ResidentReVisitDay));
			for (var item of data) {
				var getItemDate = new Date(item.date);
				//console.log(item.date);
				events.push({
					date: new Date(getItemDate.setDate(getItemDate.getDate() + 28)),
					eventName: `${item.patinetId} 回診日`,
					className: "genric-btn primary-border circle arrow small",
					
					dateColor: "Chocolate",
					fTitle:`Title ${item.patinetId} 回診日`,
					fContent: `content ${item.patinetId} 回診日`,
					onclick(e, data) {
						console.log(data);
						getContentModal(data.fTitle, data.fContent);
					}
				});


			}



			return events;
		}


		async function getResidentInPersonalPerformancesSelectPanel() {
			const pplist = document.querySelector('#PersonalListPanel');
			const response = await fetch(`@Url.Content("~/")GroupActivityAjax/getResident`);
			const getResidentData = JSON.parse(await response.text());
			for (let aa of getResidentData) {
				pplist.insertAdjacentHTML("beforeend", `<input type="button" id="selectPanel-${aa.fid}" class="addintoR genric-btn info circle arrow  small mt-1 form-control" value="${aa.fName}">`)
			}
			//$("input[type=button]").on("click", function () {
			//	console.log(this.id);

			//});

		}
		getResidentInPersonalPerformancesSelectPanel();//叫出所有人列表



		//===================================================修改要秀的內容

		function getContentModal(title,content){

			document.querySelector("#recipient-name").value = title;
			document.querySelector("#message-text").textContent = content;

			new bootstrap.Modal(document.querySelector("#calendarModal"), {}).show();
			//document.onreadystatechange = function () {
				//myModal.show();
			//};

		}

		//=================================================bootstrap modal start
		//var calendarModal = document.getElementById('calendarModal')
		//calendarModal.addEventListener('show.bs.modal', function (event) {
		//	// Button that triggered the modal
		//	var button = event.relatedTarget
		//	// Extract info from data-bs-* attributes
		//	var recipient = button.getAttribute('data-bs-whatever')
		//	// If necessary, you could initiate an AJAX request here
		//	// and then do the updating in a callback.
		//	//
		//	// Update the modal's content.
		//	var modalTitle = calendarModal.querySelector('.modal-title')
		//	var modalBodyInput = calendarModal.querySelector('.modal-body input')

		//	modalTitle.textContent = 'New message to ' + recipient
		//	modalBodyInput.value = recipient
		//})
				//=====================================================bootstrap modal end
	</script>
}