@model List<prjRehabilitation.Models.Consultation>

@{
	ViewData["Title"] = "Index";
}

@section Styles{
	<link href="@Url.Content("~/")css/calendar/calendar-gc.min.css" rel="stylesheet" />
	<style>
		html,
		body {
			margin: 0;
			overflow-x: hidden;
		}
	</style>
}

<h1>行事曆</h1>
<div class="row">

	<div class="col-2">
		<div style="height:100px"></div>
		<div id="PersonalListPanel" class=" mt-3 form-group form-control" style=" background-color:gray;"></div>
	</div>
	<div class="col" id="calendar" style="padding: 1rem;"></div>
</div>










@section Scripts{
	<script src="@Url.Content("~/")js/calendar/calendar-gc.min.js"></script>
	<script>
		$(function (e) {
			var calendar = $("#calendar").calendarGC({
				dayBegin: 0,
				prevIcon: '&#x3c;',
				nextIcon: '&#x3e;',
				onPrevMonth: function (e) {
					console.log("prev");
					console.log(e);
				},
				onNextMonth: function (e) {
					console.log("next");
					console.log(e);
				},
				events: startAllShowList(),
				onclickDate: function (e, data) {
					console.log(e, data);
				}
			});
		});

		function startAllShowList() {

			var events = [];
			const data = @Html.Raw(Json.Serialize(Model));

			for (var item of data) {
				var getItemDate = new Date(item.date);
				//console.log(item.date);
				events.push({
					date: new Date( getItemDate.setMonth(getItemDate.getMonth()+1)),
					eventName: `${item.patinetId} 回診日`,
					className: "genric-btn primary-border circle arrow small",
					onclick(e, data) {
						console.log(data);
					},
					dateColor: "Chocolate"
				});


			}

			return events;
		}



		async function getResidentInPersonalPerformancesSelectPanel() {
			const pplist = document.querySelector('#PersonalListPanel');
			const response = await fetch(`@Url.Content("~/")GroupActivityAjax/getResident`);
			const getResidentData = JSON.parse(await response.text());
			for (let aa of getResidentData) {
				pplist.insertAdjacentHTML("beforeend", `<input type="button" id="selectPanel-${aa.fid}" class="addintoR genric-btn info circle arrow  small mt-1 form-control" value="${aa.fName}">`)
			}
			//$("input[type=button]").on("click", function () {
			//	console.log(this.id);

			//});

		}
		getResidentInPersonalPerformancesSelectPanel();//叫出所有人列表




	</script>
}