@model prjRehabilitation.ViewModel.CProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CProductViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @{
                int count = 0;
                var List = new List<prjRehabilitation.ViewModel.CProductViewModel>();
                foreach (var item in List)
                {
                    count++;
                <div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FName" class="control-label"></label>
                    <input name="FName" class="form-control" />
                    <span asp-validation-for="FName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FQty" class="control-label"></label>
                    <input asp-for="FQty" class="form-control" />
                    <span asp-validation-for="FQty" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FPrice" class="control-label"></label>
                    <input asp-for="FPrice" class="form-control" />
                    <span asp-validation-for="FPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
            }
            }
            <div>
                <button>新增</button>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

