@model prjRehabilitation.ViewModel.CProductViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "AdminLayout";
}

<h1>修改商品</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Fid" type="hidden"  value="@Model.Fid "class="form-control" />

            <input  type="hidden" asp-for="FPhoto"/>
            <div class="form-group col">
                <label asp-for="photo" class="control-label">照片</label>
                <input type="file" asp-for="photo" class="form-control" accept="image/gif, image/jpeg, image/png" />
                <br />
                @{
                    if (Model.FPhoto != null)
                    {
                        var base64 = Convert.ToBase64String(Model.FPhoto);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <img id="preview_Product_img" src="@imgSrc" alt="尚未上傳商品照片" width="200" height="150" />

                    }
                    else
                    {
                        <img id="preview_Product_img" src="" alt="尚未上傳商品照片" width="200" height="150" />

                    }
                }
                <span asp-validation-for="photo"></span>
            </div>

            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FQty" class="control-label"></label>
                <input asp-for="FQty" class="form-control" />
                <span asp-validation-for="FQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPrice" class="control-label"></label>
                <input asp-for="FPrice" class="form-control" />
                <span asp-validation-for="FPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">商品類型</label>
                <select class="form-select" asp-for="FType"> 
                    <option value="food">食品</option>
                    <option value="accessories">手工藝品</option>
                    <option value="else">其他</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="FStatus" class="control-label"></label>

                    @if (Model.FStatus == true)
                        {
                         <input class="form-check-input mt-0" type="checkbox" asp-for="FStatus" checked>
                        }
                        else
                        {
                           <input class="form-check-input mt-0" type="checkbox" asp-for="FStatus">
                        }

            </div>

            <div class="form-group">
                <input type="submit" value="修改完成" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List_B">回上一頁</a>
</div>

@section Scripts{
        <script>
            
             $("#photo").change(function () {
                    //當檔案改變後，做一些事
                    readURL(this);   // this代表<input id="imgInp">
            });

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#preview_Product_img").attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
        </script>

}