@model IEnumerable<prjRehabilitation.ViewModel.CProductViewModel>

@{
    ViewData["Title"] = "List";
}
<style>
    .card-body{
        text-align: center;
    }
    a{
        color:yellow;
        font-family: 標楷體;
    }
    h5{
        color:red;
        font-family:標楷體;
    }
</style>
<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div  class="card-group">
@{
    int count = 0;
    foreach (var item in Model)
    {
                        <div class="card mt-3 border-primary text-primary bg-success" style="width: 20rem">
                                        <img src="~/images/@item.FPhoto"/>
                                        <!-- 只有上部圓角 -->
                                <div class="card-body">
                                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.FName)</h5>
                                            @Html.ActionLink("編輯", "Edit", new {  id=item.Fid })
                                            @Html.ActionLink("刪除", "Delete", new {  id=item.Fid })
                                </div>
                              </div>
    }
}
</div>

