@model prjRehabilitation.ViewModel.Lin.VMNewArtical
@{
    ViewData["Title"] = "List";
    Layout = "AdminLayout";
}
<br />
<a  class="btn btn-outline-primary" href="@Url.Content("~/Forum/NewPost")">發布新文章</a>
<div class="my-3 p-3 bg-body rounded shadow-sm" id="list">
    <h3 class="border-bottom pb-2 mb-0">文章列表</h3>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>


</div>
@section Scripts{
<script>
        loadArtical();

        function deletePost(id){
            if(!check()) return;
            document.getElementById(`post${id}`).remove();
            fetch(`@Url.Content("~/Forum/PostDelete?id=${id}")`)
        }

        function check(){
            return confirm("是否刪除?");
        }
        //寫ajax寫習慣了這樣搞還比直接讀資料再裝進去舒服
      async function loadArtical(){
            const response = await fetch(`@Url.Content("~/Forum/GetAllHistoryPost")`);
            const data = await response.json();

            var html = data.map(x => {
                        console.log(x);
                        const title = x.fTitle;
                        const main = x.fMain;
                        const date = x.fDate;
                        const id = x.fPostId;
                        var tag = x.fTag;
                        return `    <div class="d-flex text-muted pt-3" id="post${id}">
                                                     <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded circle " width="24" height="24"  role="img" aria-label="Placeholder: 24x24" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#5B5B5B"></rect><text x="50%" y="50%" fill="#5B5B5B" dy=".3em">24x24</text></svg>
                                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                                <div class="d-flex justify-content-between">
                                                    <h5 class="text-dark">${title}</h5>
                                                    <div>
                                                         <a class="btn btn-outline-success" href="@Url.Content("~/Forum/PostEdit?id=${id}")">修改</a>
                                                                <a class="btn btn-outline-danger" onclick="deletePost(${id})">刪除</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                 `;
                           })
            document.getElementById("list").innerHTML += html.join("");

            $(".spinner-border").remove();

            //加載完把讀取動畫關掉
         }



</script>


}