@model prjRehabilitation.ViewModel.Lin.VMNewArtical
@{
    ViewData["Title"] = "List";
    Layout = "AdminLayout";
}

    
<style>
   
    .reply{
        padding:5px;
        margin-top:5px;
        margin-bottom:0px;
        border-radius:3px;
        background-color:antiquewhite
    }
     .card-reply {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        background-color: antiquewhite;
    }

        .card-reply:hover {
            background-color: beige;
        }

    .varifyHidden {
        display: none;
    }


    .reply-name {
        color: #0089ac;
    }

    .reply_lauout {
        padding-left: 3em;
    }

    .reply_addon {
        font-size: 13px;
        color: gray;
        padding-top: 0.7em;
        display: flex;
        justify-content: flex-start;
    }

    .reply_content {
        font-size: 18px;
        padding-left: 10px;
        display: flex;
        justify-content: flex-start;
    }

    .reply_panel {
        float: left;
        width: 10px;
        height: 4em;
    }

    .reply_icon {
        border-radius: 2em;
        width: 4em;
        height: 4em;
    }
</style>


<br />
<a  class="btn btn-outline-primary" href="@Url.Content("~/Forum/NewPost")">發布新文章</a>
<div class="my-3 p-3 bg-body rounded shadow-sm" id="list">
    <h3 class="border-bottom pb-2 mb-0">文章列表</h3>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>


</div>
@section Scripts{
<script>
        loadArtical();

        function deletePost(id){
            if(!check()) return;
            document.getElementById(`post${id}`).remove();
            fetch(`@Url.Content("~/Forum/PostDelete?id=${id}")`)
        }

        function check(){
            return confirm("是否刪除?");
        }
        //寫ajax寫習慣了這樣搞還比直接讀資料再裝進去舒服
      async function loadArtical(){
            const response = await fetch(`@Url.Content("~/Forum/GetAllHistoryPost")`);
            const data = await response.json();

            var html = data.map(x => {
                        console.log(x);
                        const title = x.fTitle;
                        const main = x.fMain;
                        const date = x.fDate;
                        const id = x.fPostId;
                        var tag = x.fTag;
                        return `    <div class="d-flex text-muted pt-3" id="post${id}">
                                                     <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded circle " width="24" height="24"  role="img" aria-label="Placeholder: 24x24" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#5B5B5B"></rect><text x="50%" y="50%" fill="#5B5B5B" dy=".3em">24x24</text></svg>
                                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                                <div class="d-flex justify-content-between">
                                                        <a href="@Url.Content("~/Forum/PostDetail?id=${id}")">
                                                            <h4 class="text-dark">${title}</h4>
                                                        </a>
                                                    <div>
                                                          <a class="btn btn-outline-info" onclick="GetReplyList(${id})" id="replybtn${id}" data-replybtn="false">展開留言</a>
                                                         <a class="btn btn-outline-success" href="@Url.Content("~/Forum/PostEdit?id=${id}")">修改</a>
                                                          <a class="btn btn-outline-danger" onclick="deletePost(${id})">刪除</a>
                                                    </div>
                                                </div>
                                                 <div class="pb-3 mb-0 small lh-sm "  id="replydiv${id}">
                                             </div>
                                           </div>
                                        </div>


                                 `;
                           })
            document.getElementById("list").innerHTML += html.join("");

            $(".spinner-border").remove();

            //加載完把讀取動畫關掉
         }
         async function GetReplyList(id){
            var btn = document.getElementById(`replybtn${id}`);

               if(btn.dataset.replybtn=="true"){
                btn.dataset.replybtn = "false";
                 document.getElementById(`replydiv${id}`).innerHTML = "";
                  btn.innerHTML = "展開留言";

                 return;
             }
             btn.innerHTML = "摺疊留言"
            btn.dataset.replybtn = "true";

            const response = await fetch(`@Url.Content("~/Forum/GetReplyList?id=${id}")`);
            const data = await response.json();

            var html = data.map(x => {
                const title = x.fName;
                const main = x.fContent;
                const date = x.fDate;
                const id = x.fid;
                return `
                                            <div class="card-reply col-12 " name="${id}-reply" id="${id}-reply">
                                         <div class=" col" id="Commendcontent_3315820" name="comment_parent" >
                                                 <div class="row reply_lauout">
                                                     <div class="reply_content col">
                                                               <a class="btn btn-outline-danger" onclick="deleteComment(${id})">刪除留言</a>

                                                         <span class="reply-name">　${title}：</span>
                                                         <article class="col artical text-dark">${main}</article>
                                                     </div>

                                                     <div class=" reply_addon">
                                                         <div class="" data-tooltipped="" aria-describedby="tippy-tooltip-39" data-original-title="${date}"> ${date}</div>
                                                     </div>
                                             </div>
                                         </div>
                                 </div>
                                         `;
            })
            document.getElementById(`replydiv${id}`).innerHTML += html.join("");
         }
        async function deleteComment(id){
            if(!confirm("留言刪除後無法恢復，是否刪除?")) return;
            document.getElementById(`${id}-reply`).remove();
            await fetch(`@Url.Content("~/Forum/DeleteReply?id=${id}")`);
        }

</script>


}