@model prjRehabilitation.ViewModel.CPatientsViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CPatientsViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fid" class="control-label"></label>
                <input asp-for="Fid" class="form-control" />
                <span asp-validation-for="Fid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FSex" class="control-label"></label>
                <input asp-for="FSex" class="form-control" />
                <span asp-validation-for="FSex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FCheckin" class="control-label"></label>
                <input asp-for="FCheckin" class="form-control" />
                <span asp-validation-for="FCheckin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FIdnum" class="control-label"></label>
                <input asp-for="FIdnum" class="form-control" />
                <span asp-validation-for="FIdnum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FBednum" class="control-label"></label>
                <input asp-for="FBednum" class="form-control" />
                <span asp-validation-for="FBednum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FBirthday" class="control-label"></label>
                <input asp-for="FBirthday" class="form-control" />
                <span asp-validation-for="FBirthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FHomeNum" class="control-label"></label>
                <input asp-for="FHomeNum" class="form-control" />
                <span asp-validation-for="FHomeNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPhone" class="control-label"></label>
                <input asp-for="FPhone" class="form-control" />
                <span asp-validation-for="FPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FEdu" class="control-label"></label>
                <input asp-for="FEdu" class="form-control" />
                <span asp-validation-for="FEdu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FMarried" class="control-label"></label>
                <input asp-for="FMarried" class="form-control" />
                <span asp-validation-for="FMarried" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FAddress" class="control-label"></label>
                <input asp-for="FAddress" class="form-control" />
                <span asp-validation-for="FAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FHos" class="control-label"></label>
                <input asp-for="FHos" class="form-control" />
                <span asp-validation-for="FHos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FIdy" class="control-label"></label>
                <input asp-for="FIdy" class="form-control" />
                <span asp-validation-for="FIdy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FGrant" class="control-label"></label>
                <input asp-for="FGrant" class="form-control" />
                <span asp-validation-for="FGrant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPicture" class="control-label"></label>
                <input asp-for="FPicture" class="form-control" />
                <span asp-validation-for="FPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
