@model prjRehabilitation.ViewModel.CEvaluateViewModle

@{
    ViewData["Title"] = "Create";
    Layout = "AdminLayout";
}

<h1>Create</h1>

<h4>CEvaluateViewModle</h4>
<hr />
@*<script>
        $(document).ready(function () {
            $('#selector').change();
            });
        })
    </script>*@
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                
                <input type="hidden" name="Fid" class="form-control" value="@ViewBag.id" />
                 
            </div>
            <div class="form-group">
                <label asp-for="F日期" class="control-label"></label>
                <input type="date" asp-for="F日期" class="form-control" />
                <span asp-validation-for="F日期" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F身高" class="control-label"></label>
                <input asp-for="F身高" class="form-control" />
                <span asp-validation-for="F身高" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F體重" class="control-label"></label>
                <input asp-for="F體重" class="form-control" />
                <span asp-validation-for="F體重" class="text-danger"></span>
            </div>
            
            
            <div class="form-group">
                <label asp-for="F評估項目" class="control-label"></label>
                <select asp-for="F評估項目" class="form-control" >
                    <option value="1">衛生習慣</option>
                    <option value="2">居家清潔</option>
                    <option value="3">飲食起居</option>
                    <option value="4">認知能力</option>
                    <option value="5">體能表現</option>
                    <option value="6">人際互動</option>
                    <option value="7">烹飪能力</option>
                    <option value="8">休閒安排</option>
                    <option value="9">財務管理</option>
                    <option value="10">健康促進</option>
                </select>
                @*@Html.DropDownList("selector", (IEnumerable<SelectListItem>)ViewBag.SelectList, new { @style = "background-color:white" })*@
                <span asp-validation-for="F評估項目" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F現狀評估" class="control-label"></label>
                <textarea asp-for="F現狀評估" class="form-control cust" ></textarea>
                <span asp-validation-for="F現狀評估" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F問題" class="control-label"></label>
                <textarea asp-for="F問題" class="form-control" ></textarea>
                <span asp-validation-for="F問題" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F復健目標" class="control-label"></label>
                <textarea asp-for="F復健目標" class="form-control" ></textarea>
                <span asp-validation-for="F復健目標" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F復健計畫" class="control-label"></label>
                <textarea asp-for="F復健計畫" class="form-control" ></textarea>
                <span asp-validation-for="F復健計畫" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

