@model prjRehabilitation.ViewModel.CEvaluateViewModle

@{
    ViewData["Title"] = "Edit";
    if (ViewBag.setting !="customer")
    {
        Layout = "AdminLayout";
    };
}
<style>
    textarea 
    {
        width: 300px;
        height: 150px;
        resize: none;
        overflow-x: visible;
        overflow-y: visible;
    }
</style>
@*<h1>修改評估資料</h1>*@
<br />
<h4 class="custtitle">修改評估資料</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="F功能評估Id" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" name="Fid" value="@Model.Fid" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="F日期" class="control-label"></label>
                <input type="date" asp-for="F日期" class="form-control cust"/>
                <span asp-validation-for="F日期" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F身高" class="control-label"></label>
                <input asp-for="F身高" class="form-control cust" />
                <span asp-validation-for="F身高" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F體重" class="control-label"></label>
                <input asp-for="F體重" class="form-control cust" />
                <span asp-validation-for="F體重" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Deleted" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Id評估表" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="F功能評估Id參考" class="form-control" /> 
            </div>
            <div class="form-group">
                <label asp-for="F評估項目" class="control-label"></label>
                <select asp-for="F評估項目" class="form-control chcust">
                    <option value="1">衛生習慣</option>
                    <option value="2">居家清潔</option>
                    <option value="3">飲食起居</option>
                    <option value="4">認知能力</option>
                    <option value="5">體能表現</option>
                    <option value="6">人際互動</option>
                    <option value="7">烹飪能力</option>
                    <option value="8">休閒安排</option>
                    <option value="9">財務管理</option>
                    <option value="10">健康促進</option>
                </select>
                <span asp-validation-for="F評估項目" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F現狀評估" class="control-label"></label>
                <textarea asp-for="F現狀評估" class="form-control cust" ></textarea>
                <span asp-validation-for="F現狀評估" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F問題" class="control-label"></label>
                <textarea asp-for="F問題" class="form-control cust" ></textarea>
                <span asp-validation-for="F問題" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F復健目標" class="control-label"></label>
                <textarea asp-for="F復健目標" class="form-control cust" ></textarea>
                <span asp-validation-for="F復健目標" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="F復健計畫" class="control-label"></label>
                <textarea asp-for="F復健計畫" class="form-control cust" ></textarea>
                <span asp-validation-for="F復健計畫" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Deleted個表" class="form-control" />   
            </div>
            <div class="form-group employee">
                <input type="submit" value="存檔" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a href="/Evaluate/DateList/@Model.Fid" class="cancel">取消修改作業</a>
</div>
@section Scripts 
{
 @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
    var set = `@ViewBag.setting`;
    if (set == "customer") 
    {
            $(".cancel").text("回上一頁");
            $(".custtitle").text("評估紀錄");
            $(".chcust").prop("disabled", true);
            $(".cust").prop("readOnly", true);  //textarea只能讀
            $(".employee").hide();//存檔按鈕藏起來
     }
    </script>
}