@model prjRehabilitation.ViewModel.Eric.CClassThemesPartialViewViewModel


    
    @foreach (string itemEach in Model.ClassThemesEach)
    {
        <select>
            @foreach (string itemList in Model.ClassThemesList)
        {
            if (itemEach == itemList)
            {
                <option selected="selected">@itemList</option>
            } 
            else { <option>@itemList</option> }
        }

        </select>

    }
    
