@model prjRehabilitation.ViewModel.CConsultationViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "AdminLayout";
}
<style>
    .try {
        border: dashed red 2px;
    }

    textarea {
        width: 300px;
        height: 150px;
        resize: none;
        overflow-x: visible;
        overflow-y: visible;
    }

    .lastEvaluate {
        /*border: solid 1px red;*/
        font-weight: bold;
        font-style: italic;
        /*background-color:lightcyan;*/
    }

</style>

<h1>新增會談作業</h1>

@*<h4>CConsultationViewModel</h4>*@
<hr />
<div class="row ">
    <div class="col-md-9 ">
        <form asp-action="SaveCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-3 col-md-3">
                    <input type="checkbox" id="1" name="Typeconsult" value="1">
                    <label for="1" id="lbl1">衛生習慣</label><br />
                    <input type="checkbox" id="2" name="Typeconsult" value="2">
                    <label for="2" id="lbl2">居家清潔</label><br />
                    <input type="checkbox" id="3" name="Typeconsult" value="3">
                    <label for="3" id="lbl3">飲食起居</label><br />
                    <input type="checkbox" id="4" name="Typeconsult" value="4">
                    <label for="4" id="lbl4">認知能力</label><br />
                    <input type="checkbox" id="5" name="Typeconsult" value="5">
                    <label for="5" id="lbl5">體能表現</label><br />
                    <input type="checkbox" id="6" name="Typeconsult" value="6">
                    <label for="6" id="lbl6">人際互動</label><br />
                    <input type="checkbox" id="7" name="Typeconsult" value="7">
                    <label for="7" id="lbl7">烹飪能力</label><br />
                    <input type="checkbox" id="8" name="Typeconsult" value="8">
                    <label for="8" id="lbl8">休閒安排</label><br />
                    <input type="checkbox" id="9" name="Typeconsult" value="9">
                    <label for="9" id="lbl9">財務管理</label><br />
                    <input type="checkbox" id="10" name="Typeconsult" value="10">
                    <label for="10" id="lbl10">健康促進</label><br />
                </div>
                <div class="col col-md-9">
                    <div class="form-group">

                        <input type="hidden" value="@ViewBag.pid" name="PatinetId" />

                    </div>
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input type="date" asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Summary" class="control-label"></label>
                        <textarea asp-for="Summary" class="form-control"></textarea>
                        <span asp-validation-for="Summary" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Assessment" class="control-label"></label>
                        <textarea asp-for="Assessment" class="form-control"></textarea>
                        <span asp-validation-for="Assessment" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Result" class="control-label"></label>
                        <textarea asp-for="Result" class="form-control"></textarea>
                        <span asp-validation-for="Result" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group">
                    <input type="submit" value="新增會談資料" class="btn btn-primary" />
                </div>
                <div>
                    <button type="button" id="demo" class="btn btn-sm btn-info">產生範例</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">取消新增作業</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        //----------抓評估資料-------
        debugger;
        var evalulist = [];
        @for (int i = 0; i < Model.Typeevaluate.Count(); i++)
        {
            <text>evalulist.push(@Model.Typeevaluate[i]);</text>
        };
         $.each(evalulist, function (index, value)
        {
            $("#lbl" + value).addClass("lastEvaluate");
            //document.querySelector('"#lbl" + value').className = 'lastEvaluate';
        });
        
        $("#demo").click(function () {
            $("#Summary").text("了解住民情緒狀態及飲食量較低原因。");
            $("#Assessment").text("住民表示自己最近出現妄想，以為在外有一位小三，因此覺得很對不起太太，所以離開家裡想去找謝小姐，但都找不到，因為身上沒錢，所以餓肚子好幾天了");
            $("#Result").text("住民具病識感，唯情緒仍受症狀及家庭關係影響較為低或；飲食狀況不佳部分與精神症狀較無關係，續追蹤其情緒狀況。");
        });
    </script>
    }
