@model IEnumerable<prjRehabilitation.ViewModel.CPatientsViewModel>

@{
    ViewData["Title"] = "住民清單";
    Layout = "AdminLayout";
}

<h1>List</h1>

<p>
    <a asp-controller="Treatment" asp-action="Index">回上一頁</a>
</p>
<div>
    @using (Html.BeginForm())
    {
        @:關鍵字 @Html.TextBox("txtKeyword")

        <input type="submit" value="查詢">
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                序號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.ActionLink( item.FName, "DateList", new {  id=item.Fid })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
